<head>
  <meta name="description" content="Attaphong Rattanaveerachanon - Personal blog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }}{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

  <meta property="og:url"                content="{{ site.url + page.url }}" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Attaphong Rattanaveerachanon" />
  <meta property="og:description"        content="Attaphong Rattanaveerachanon - Personal blog" />
  <meta property="og:image"              content="/assets/images/my/ohm-og-image.png" />
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d82c50ab46.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6NDCL9GMMP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6NDCL9GMMP');
  </script>
  
</head>