 <div class="col-8 content">
    <div class="home">
    <div class="row">
        <div class="col-12 tiny-menu">
            <a href="#">About</a>&nbsp;|&nbsp;<a href="#projects">Projects</a>&nbsp;|&nbsp;<a href="#blog">Blog</a>
        </div>
        <div class="col-12">
            <h2>About Me</h2>
            <p>I'm a full-stack developer with almost 10 years' experience. I worked on various types of platforms for both corporates and startups. My interests are software architecture, software engineering, and product development for large-scale of users.</p>

            <p>About my professional experience, I was a founding engineer and CTO at <a href="https://www.finnomena.com" target="_blank" rel="noreferrer">FINNOMENA</a>. I helped build the platform from prototyping until its growth stage as a <a href="https://www.techinasia.com/finnomena-bags-10m" target="_blank"  rel="noreferrer">Series-B-Funded startup</a> with ~170K accounts and $950M+ in total assets.</p>

            <blockquote>FINNOMENA is a fintech startup for Robo-Advisor & Mutual Fund Trading Platform. It serves mutual fund brokerage business including Account Opening, Trading, Payment, Settlement, and Portfolio Recommendation.</blockquote>

            <p>In the earlier days, I developed the prototyping, designed the architecture, iterated the product features, set up cloud infrastructure and deployment, etc.</p>
            
            <p>The company grew so fast. We have about 50+ engineering staffs when I left the company and I'm so proud of them :)</p>

            <figure>
                <a href="https://www.linkedin.com/posts/attaphong_i-think-this-is-going-to-be-the-most-official-activity-6859794517764263936-JImu" target="_blank"><img src="/assets/images/my/ohm-farewell.jpeg" alt="My remote farewell during covid-19 era"/></a>
                <figcaption>My remote farewell during covid-19 era</figcaption>
            </figure>

            <p>Prior joining FINNOMENA, I used to build my own startup name “CashGrow”. Even though it's already failed, we won the national startups competition during that time. We had opportunity to have a business trip to Seoul, Korea where I visited lots of awesome startups and people there.</p>

            <figure>
                <img src="/assets/images/my/cashgrow.jpg" alt="CashGrow won the national startups competition" />
                <figcaption>CashGrow won the national startups competition</figcaption>
            </figure>

            <p>Before joined startups, I worked with <a href="https://www.kimberly-clark.com/en-us" target="_blank" rel="noreferrer">Kimberly-Clark</a> - The personal care corporation that produces consumer products such as Huggies, Kleenex, Scott, etc. I had an opportunity to lead a project which relocated me to US for a couple months to work with business team.</p>

            <p>I also worked with Thomson Reuters (<a href="https://www.refinitiv.com/en" target="_blank" rel="noreferrer">Refinitiv - LSEG</a> now) as performance engineer. I performed performance testing on entreprise systems and identified the root causes of the issues.</p>

            <p>I graduated with a second-class honours degree from Chulalongkorn University in Computer Engineering.</p>
            
        </div>

        <div class="col-12 activities" id="activities">
            <h2>Other Activities</h2>
            <ul>
              <li>Guest speaker in System Analysis and Design class, Department of Computer Engineering, Chulalongkorn University, Thailand, 2019.</li>
              <li>Guest speaker in High-Tech Entrepreneur Class, Engineering Faculty, Chulalongkorn University, 2016-2020.</li>
              <li>Mentor in CU Engineering Alumni Mentorship Program (CHAMP ENG), Chulalongkorn University, 2018-2020.</li>
              <li>The winner, 'CU-Dimension: 3D Stereoscopic Generator from Still Images', IEEE Senior project contest, Thailand, 2011.</li>
              <li>Publication 'Cu-Dimension: 3D Stereoscopic Generator from Still Images' in ACM SIGGRAPH VRCAI'2011, Hong Kong, China, 2011.</li>
            </ul>
        </div>

        <div class="col-12 projects" id="projects">
            <h2>Personal Projects</h2>
        </div>
        <div class="col-6 project-item">
            <a href="https://github.com/detohm/sorting-visualizer" target="_blank"><div class="image" style="background-image:url('/assets/images/projects/sorting.jpg');"></div></a>
            <a href="https://github.com/detohm/sorting-visualizer" target="_blank"><h3 class="title">Sorting Visualizer</h3></a>
            <p class="desc">A single-page application for visualizing sorting algorithms such as Quicksort and Mergesort. It's developed using React & TypeScript.</p>
        </div>
        <div class="col-6 project-item">
            <a href="https://github.com/detohm/asteroids" target="_blank"><div class="image" style="background-image:url('/assets/images/projects/asteroids-1.jpg');"></div></a>
            <a href="https://github.com/detohm/asteroids" target="_blank"><h3 class="title">Asteroids</h3></a>
            <p class="desc">A clone of the "Asteroids" game with minimal gameplay. It's built with C++ and SDL2.</p>
        </div>
        <div class="col-6 project-item">
            <a href="https://github.com/detohm/tinytop" target="_blank"><div class="image" style="background-image:url('/assets/images/projects/tinytop.jpg');backgroud-position:left;"></div></a>
            <a href="https://github.com/detohm/tinytop" target="_blank"><h3 class="title">TinyTop</h3></a>
            <p class="desc">A system monitoring tool for linux system developed using C++.</p>
        </div>
        <div class="col-6 project-item">
            <a href="https://github.com/detohm/gomu8080" target="_blank"><div class="image" style="background-image:url('/assets/images/projects/gomu8080.jpg');backgroud-position:left;"></div></a>
            <a href="https://github.com/detohm/gomu8080" target="_blank"><h3 class="title">Gomu8080</h3></a>
            <p class="desc">An emulator for Intel 8080 processor written in Go.</p>
        </div>
        <div class="col-6 project-item">
            <a href="https://github.com/detohm/todo-app-study" target="_blank"><div class="image" style="background-image:url('/assets/images/projects/todo-app.jpg');"></div></a>
            <a href="https://github.com/detohm/todo-app-study" target="_blank"><h3 class="title">To-Do App Study</h3></a>
            <p class="desc">Playground for experimenting in Go, TypeScript, React, Docker, API Design, Unit Tesing, etc.</p>
        </div>

        <div class="col-12 blog" id="blog">
            <h2>Blog</h2>
            <ul>
              <li><a href="https://blog.finnomena.com/tech-stack-%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B9%83%E0%B8%99-finnomena-q4-2019-d5212bb6071a" target="_blank"  >High-Level Architecture and Tech Stack of FINNOMENA</a></li>
              <li><a href="https://blog.finnomena.com/0-1-knapsack-with-go-%E0%B8%AB%E0%B8%A2%E0%B8%B4%E0%B8%9A%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B9%83%E0%B8%AA%E0%B9%88%E0%B8%96%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%9B%E0%B9%89%E0%B8%94%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%A0%E0%B8%B2%E0%B8%A9%E0%B8%B2-go-fc0ed079fd10" target="_blank"  >Compare Go to JavaScript for solving knapsack problem</a></li>
              <li><a href="https://blog.finnomena.com/0-1-knapsack-problem-%E0%B8%AB%E0%B8%A2%E0%B8%B4%E0%B8%9A%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B9%83%E0%B8%AA%E0%B9%88%E0%B8%96%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%9B%E0%B9%89%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B9%84%E0%B8%A7-efbdf20a9de5" target="_blank" >How to solve 0/1 knapsack problem (without dynamic programming)</a></li>
            </ul>
        </div>
    </div>
    </div>
<div>