<ul class="social-media-list">
    <li><a href="https://github.com/detohm" title="detohm"><svg class="svg-icon grey" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>
    <li><a href="https://www.instagram.com/detohm" title="detohm"><svg class="svg-icon grey" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#instagram' | relative_url }}"></use></svg></a></li>
    <li><a href="https://twitter.com/detohm" title="detohm"><svg class="svg-icon grey" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>
    <li><a href="{{ 'feed.xml' | relative_url }}" title="{{ social.rss | escape }}"><svg class="svg-icon grey" viewBox="0 0 16 16"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#rss' | relative_url }}"></use></svg></a></li>
</ul>